import ItemList from "./pages/ItemList";

export default function App() {
  return (
    <div className="app">
      <header>
        <h1>{{project_name}}</h1>
      </header>
      <main>
        <ItemList />
      </main>
    </div>
  );
}
